:root{
	--bgColor: #ffa500;
    	--textColor: black;
	--borderColor: #fcf9eb;
	--basicFamilyfont:"Lucida Sans Unicode", "Lucida Grande", 'sans-serif';
	--thepaddingspace: 10%;
    	--koorTextColor: #fcf9eb;
	--shadowColor: #a82400;
	--textBorderMargin: .69em;
}

.centerblock {
	position: relative;
	margin: 0 auto;
	padding-left:var(--thepaddingspace);
}

.centerImg {
    	display:block;
	/*margin-left: auto;
  	margin-right: auto;*/
	/*float: center;*/
        /*margin:auto;*/
  	/*width: 10%;*/
	padding-top: 6em;
	padding-left: var(--thepaddingspace);
}

.koorText {
	letter-spacing: 1.5em;
	line-height: 4em;
	/*padding-left: var(--thepaddingspace-500);*/
	color: var(--koorTextColor);
	text-shadow: .08em .08em var(--shadowColor);
	font-size: 2.69em;
	position: relative;
   	font-family: var(--basicFamilyfont);	
}

p {
	letter-spacing: .02em;
	line-height: 2em;
	/*padding-left: var(--thepaddingspace-500);*/
	color: var(--koorTextColor);
	text-shadow: .2em .2em var(--shadowColor);
	font-size: .8em;
	position: relative;
   	font-family: var(--basicFamilyfont);
}

.clickIconList {
	display: inline-block;
 	/*width: 33.33%;*/
 	/*padding: 25%*/
	max-height:16em;
	max-width:16em;
	margin-right: var(--textBorderMargin); 
	margin-bottom: var(--textBorderMargin); 
	margin-left: var(--textBorderMargin); 
	border-radius: .5em;
	/*vertical-align: middle;*/
 	border:.2em solid var(--borderColor);
}

a.hover {

}


body {
	/*margin: 500em;*/
    	/*width: 90%;*/
    	background-color: var(--bgColor);
    	font-family: var(--basicFamilyfont);
	width: 80%;
	/*margin:auto;*/
	margin-left: 25%;
	margin-right: 25%
}

img {
    	/* makes images shrink and grow
    	margin: auto;
    	width: 50%;*/
}

 	/* unvisited link */
	a:link {
	color: red;
	text-decoration: italic;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: italic;
}

/* mouse over link */
	a:hover {
	color: var(--shadowColor);
	text-decoration: bold;
}

/* selected link */
a:active {
	color: var(--bgColor);
  	text-decoration: border-bottom;
} 


footer ul {
	font-family:var(--basicFamilyfont);
	margin-top: 2em;
	padding-left: var(--thepaddingspace);
	list-style: none;
	font-weight: bold;
	color: var(--koorTextColor);
	text-shadow: .08em .08em var(--shadowColor);
}

footer ul li {
	display: inline;
	margin-right: .5%;
}
