:root{
	--bgColor: white;
    	--textColor: black;
}

.centerImg {
    	display:block;
	/*margin-left: auto;
  	margin-right: auto;*/
	/*float: center;*/
        margin:auto;
  	width: 3%;	
}

.clickIconList {
 	 display: inline-block;
 	 float: center;
 	 /*width: 33.33%;*/
 	 /*padding: 25%*/
	 font-size: 100%;
	 max-height:32em;
	 max-width:32em;
	 vertical-align: middle;
}


body {
	/*margin: 500em;*/
    	/*width: 90%;*/
    	background-color: var(--bgColor);
    	family-font: "Lucida Sans Unicode", "Lucida Grande", 'sans-serif';
}
